@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap%27');
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */

main,
html {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

.content-asset p {
    margin: 0;
}

.breadcrumb {
    display: none;
}

section {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.title h1 {
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Saira', sans-serif;
    font-size: 50px;
    animation: desenfocar 1s ease-in-out forwards;
}

.title h4 {
    text-align: center;
    letter-spacing: 15px;
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: desenfocar 1s ease-in-out forwards;
}

.links-title {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Saira', sans-serif;
    animation: desenfocar 1s ease-in-out forwards;
}

.links-title a {
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 0px;
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
}

@media (max-width: 460px) {
    .title h1 {
        letter-spacing: 15px;
        font-size: 35px;
    }
    .title h4 {
        letter-spacing: 10px;
    }
}


/* Div - Informacion */


/**************************/

.informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 160px 0;
    text-align: left;
    color: black;
}

.informacion h1,
.proyectos-title {
    margin-bottom: 15px;
    font-family: 'Saira', sans-serif;
    text-align: center;
}

.informacion p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
}

.informacion hr {
    width: 300px;
}

@media (max-width: 800px) {
    .informacion {
        margin: 80px 15px 160px 15px;
    }
    .informacion h1 {
        font-size: 25px;
    }
    .informacion p {
        font-size: 15px;
    }
}


/* Div - Parallax */


/**************************/

.parallax {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#parallax-world-of-ugg h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    width: 100%;
}


/* Section - Parallax */


/**************************/

#parallax-world-of-ugg .parallax {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#localidad {
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: -30px;
    letter-spacing: 5px;
}


/* Extras */

@keyframes desenfocar {
    from {
        opacity: 0;
        filter: blur(3px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}


/**************************/

#parallax-world-of-ugg .line-break {
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
}


/* Media Queries */


/**************************/

@media screen and (max-width: 800px) {
    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }
    #parallax-world-of-ugg .parallax {
        height: 75vh;
    }
    .title h1 {
        letter-spacing: 5px;
        font-size: 35px;
    }
}

@media screen and (max-width: 470px) {
    #parallax-world-of-ugg .block {
        width: 290px;
    }
    #parallax-world-of-ugg .parallax {
        height: 50vh;
    }
    .links-title {
        flex-direction: column;
    }
    .title h4 {
        display: none;
    }
    .informacion hr {
        width: 80%;
    }
}

@media (max-width: 360px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 250px;
    }
    #parallax-world-of-ugg .parallax {
        height: 35vh;
    }
    .informacion {
        margin: 80px 5px 160px 5px;
    }
    .informacion p {
        font-size: 14px;
    }
}