@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');



body, html{
    margin: 0;
    background-color: #ffffff;
}
.hr-rojo{
    width: 34%;
    margin-left: 33%;
    background-color: red;
    border: solid 2px #a80000;
}
.hr-blanco{
    
    width: 20%;
    margin-top: 30px;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    border: solid 1px #ffffff;
}

/* HEADER */
.header{
    width: 100%;
    height: 100vh;
    
    background-image: url('/static/src/clientes/CDL/principal.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(0.5);
    display: flex;
    font-family: 'Titillium Web', sans-serif;

}

.texto-header{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);    
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
}

.texto-header h2{
    font-size: 50px;
    padding-left: 40px;
    letter-spacing: 4px;
    margin-top: 80px;
}



.texto-header h1{
    font-size: 55px;
    padding-left: 40px;
    margin-top: 25px;
}

.texto-header i{
    font-size: 20px;
    padding-left: 40px;
}


/* CONTENIDO */
.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

/* CONTENIDO-PARTE ROJA */
.parteRoja{
    width: 100%;
    background-color: #a80000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-parteRoja{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 2% 0;
}

.img-parteRoja img{
    width: 350px;
    height: 350px;
    margin-bottom: 25px;
    margin-top: 50px;
    box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 3px 3px 0px rgba(0,0,0,0.75);
}

.texto-parteRoja{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    z-index: 10;
    text-align: left;
    color: #f5f6f7;
    margin-top: 50px;
}

.texto-parteRoja h2{
    font-size: 35px;
}



.texto-parteRoja p{
    font-size: 25px;
    padding: 0 10%;
}

/* CONTENIDO-PARTE BLANCA */
.parteBlanca{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;

}

.img-parteBlanca{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 2% 0;
}

.img-parteBlanca img{
    width: 350px;
    height: 350px;
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.texto-parteBlanca{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    z-index: 10;
    text-align: left;
}

.texto-parteBlanca h2{
    font-size: 35px;
}

.texto-parteBlanca p{
    font-size: 25px;
    padding: 0 10%;

}

.boton-parteBlanca{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-parteBlanca a{
    width: 200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-parteBlanca img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-items: center;
}
/* FORMULARIO */
.formulario{
    width: 100vw;
    height: 500px;
    background-image: url(/static/src/clientes/CDL/CDL_Info.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;

}

.texto-formulario{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba(0,0,0,.7),
        rgba(0,0,0,.0)
    );
}

.texto-formulario h2{
    font-size: 40px;
    color: white;
}



.texto-formulario p{
    font-size: 25px;
    color: white;
    margin: 10px 50px;
}

.texto-formulario a{
    color: white;
}

/* SERVICIOS */
.servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-servicios{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-servicios h1{
    font-size: 50px;
    padding: 5px;
    text-align: center;
}


.cartas-servicios{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.cartas{
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: 550px;
    align-items: center;
    color: white;
}

.cartas h1{
    height: 96px;
    padding: 10px 0;
    font-size: 28px;
    
}

.cartas img{
    width: 100%; /* El ancho de la imagen se ajustará al ancho del contenedor */
    height: 50%; /* La altura de la imagen será el 60% de la altura del contenedor */
    object-fit: cover; /* La imagen se ajustará para cubrir el contenedor manteniendo su relación de aspecto original */
}
/*WHATSAPP*/
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px; /* cambiado de left a right */
    z-index: 9999;
  }
  
  .whatsapp a {
    display: block;
    width: 80px; /* aumentado el ancho */
    height: 80px; /* aumentado la altura */
    background: rgb(1, 202, 1);
    border-radius: 50%;
    text-align: center;
    font-size: 40px; /* aumentado el tamaño de la fuente */
    color: #fff;
    line-height: 80px;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 767px) {
    .whatsapp {
      right: 25px; /* cambiado de left a right */
      left: auto; /* eliminado la regla left */
      bottom: 65px;
    }
  
    .whatsapp a {
      width: 60px;
      height: 60px;
      font-size: 30px;
      line-height: 60px;
    }
  }

/* BOTON */
.boton-servicios{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn41-43 {
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: large;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-decoration: none;
    width: 50%;   
  }
  
  .btn-43 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
  .btn-43:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-43:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-43:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  
.ubicacion {
  text-align: center;
  color: black;
}



.ubicacion h1 {
  font-size: 50px;
  padding: 5px;
  text-align: center;
}


.ubicacion img {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 50px;
}

.lista-li {
    text-align: center;
  }

h2 {
    font-size: 30px;
}
.lista-li  li {
    font-size: 20px;
    margin: 10px;
}

/* RESPONSIVE */
@media (max-width: 800px){

    /* PARTE ROJA */
    .parteRoja{
        flex-direction: column;
        clip-path: none;
    }

    .texto-parteRoja{
        width: 100%;
    }

    .texto-parteRoja h2{
        margin-top: 0;
        text-align: center;
    }
    
   

    .texto-parteRoja p{
        padding: 0 5%;
        margin-top: 0;
        padding-bottom: 20px;
    }

    .parteRoja img{
        margin-top: 20px;
    }

    /* WAVE */
    .wave{
        display: none;
    }

    /* PARTE BLANCA */
    .parteBlanca{
        flex-direction: column-reverse;
        clip-path: none;
    }

    .texto-parteBlanca{
        width: 100%;
    }

    .texto-parteBlanca h2{
        margin-top: 25px;
        text-align: center;
    }
    
   

    .texto-parteBlanca p{
        padding: 0 5%;
        margin-top: 0;
        margin-bottom: 75px;
    }

    .parteBlanca img{
        margin-top: 20px;
    }

    /* SERVICIOS */
    .cartas-servicios{
        flex-direction: column;
    }

    .cartas{
        width: 100%;
    } 
    
    /* BOTON */
    .btn41-43 {
        padding: 5px 0px;
      }

    /* FORMULARIO */
    .formulario{
        background-attachment: local;
    }

    .texto-formulario{
        width: 100%;
        background: rgba(0,0,0,.7);
    }

    .texto-formulario h2{
        font-size: 35px;
    }

    .texto-formulario p{
        font-size: 20px;
        margin: 5px 30px;
    }
} 

@media (max-width: 680px){

    /* HEADER */
    .texto-header h2{
        font-size: 40px;
        padding-left: 30px;
        letter-spacing: 3px;
    }
    
    
    
    .texto-header h1{
        font-size: 45px;
        padding-left: 30px;
    }
    
    .texto-header i{
        font-size: 18px;
        padding-left: 30px;
    }
}

@media (max-width: 400px){
    /* HEADER */
    .texto-header h2{
        font-size: 30px;
        padding-left: 20px;
        letter-spacing: 2px;
    }
    
    
    
    .texto-header h1{
        font-size: 35px;
        padding-left: 20px;
    }
    
    .texto-header i{
        font-size: 16px;
        padding-left: 20px;
    }

    /* IMGS */
    .img-parteRoja img{
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
    }

    .img-parteBlanca img{
        width: 300px;
        height: 300px;
        margin-bottom: 15px;
    }
    .ubicacion h1 {
        font-size: 38px;
        padding: 10px 0;
      }
    .titulo-servicios h1{
        font-size: 38px;
        padding: 10px 0;
    }
    .texto-parteRoja p{
        font-size: 20px;
    }
    .img-parteRoja img{
    width: 250px;
    height: 250px;
    }
}
