{% extends "clientes/Fermag/baseFermag.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/clientes/Fermag/proyecto.css') }}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>

{% endblock %}  
{% block title %}
Fermag S.A.
{% endblock %}

{% block content %}

    
<div id="parallax-world-of-ugg">
  
    <section>
      <div class="title">
        <h1>NUESTROS PROYECTOS DE {{ datos.titulo }}</h1>
        <h4>Compartimos nuestros grandes proyectos</h4>
        <div class="links-title">
          <hr style="width: 15%; justify-content: flex-start;">
          <a href="#informacion">Información</a>
          <a href="#proyectos">Proyectos</a>
          <hr style="width: 15%; justify-content: flex-end;">
        </div>
      </div>
    </section>

    <!-- INFROMATION ABOUT THIS SERVICE-->
    <div class="informacion" id="informacion">
      <h1>INFORMACION SOBRE LA DOMOTICA</h1>
      <hr>
      <p>
        La domótica es un término que se ha vuelto cada vez más popular en los últimos años, y que se refiere a la integración de la tecnología en hogares y edificios con el fin de automatizar y controlar diversos sistemas y dispositivos. La domótica se centra en mejorar la eficiencia y funcionalidad de los hogares y edificios, al mismo tiempo que mejora la comodidad y conveniencia de las personas que viven y trabajan en ellos.
        <br>
        <br>
        Una de las principales ventajas de la domótica es el ahorro de energía, que se logra a través de la automatización de los sistemas de iluminación, calefacción, refrigeración y otros dispositivos. Esto no solo reduce los costos de energía, sino que también contribuye a la protección del medio ambiente al reducir las emisiones de carbono. La comodidad que brinda a los habitantes de hogares y edificios, es otra ventaja muy grande de la domótica, ya que les permite controlar una variedad de dispositivos desde una ubicación central, por ejemplo, apagar la luz sin levantarse del sofá o de la cama. Además, la domótica puede mejorar la seguridad de un hogar o edificio al permitir el monitoreo remoto y la notificación de alertas en caso de intrusiones o incendios.
        <br>
        <br>
        En resumen, la domótica es una tecnología emocionante y en constante evolución que puede mejorar significativamente la eficiencia, la comodidad y la seguridad de los hogares y edificios. Desde la automatización de la iluminación y la temperatura hasta la integración con la inteligencia artificial, las posibilidades son casi infinitas, y se espera que la domótica siga transformando la forma en que vivimos y trabajamos en el futuro.
      </p>
      <hr>
    </div>
    <!-- ENDIF XD -->

      <h1 class="proyectos-title" id="proyectos">PROYECTOS</h1>
      {% for i in datos.datos %}
      <section style="background-image: url({{i.fondo}})" class="parallax">
          <div>
            <h2>{{ i.titulo }}</h2>
            <h4 id="localidad">{{ i.ubicacio}}</h4>
            <a href="{{url_for('Fermag_proyectos.FermagProyectoInd', x = i.id_subproyecto)}}" >{{ 'Ver mas' }}</a>
          </div>
      </section>        
      {% endfor %}   
      </div>
    
    

    <script src="{{url_for('static',filename='js/clientes/Fermag/fermag.js')}}"></script>
{% endblock %}